@font-face {
    font-family: 'NEXT ART';
    src: url(fonts/NEXTART-Bold.woff2) format(woff2);
    font-weight: bold;
}

body {
    margin: 0;
    width: 1920px;
}

:root {
    --white-color:rgba(253, 253, 253, 1);
    --green-color:rgba(26, 62, 62, 1);
}

.bg-wrapper {
    padding: 0 370px;
    height: 985px;
    background: url(images/bg-logo.jpg);
}

.hd-logo {
    height: 72px;
}

.header-top {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    
}

.main-menu {
    padding-left: 212px;
}

.hd-menu {
    padding: 0;
    display: flex;
    gap: 24px;
}

.hd-menu-li {
    list-style: none;
}

.links {
    text-decoration: none;
    color: var(--white-color);
}

.hd-support {
    padding: 12px 24px;
    text-decoration: none;
    border: 1px solid;
    border-color: var(--green-color);
    border-radius: 4px;
    background:  var(--green-color);
    color: var(--white-color);
}

/*header end*/

.enjoy-a-walk {
    margin: 0;
    padding-top: 463px;
    font-family: 'NEXT ART', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: var(--white-color);
}

.bg-form-wrapper {
    margin-top: 41px;
    margin-bottom: 82px;
    height: 161px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.search-tour-form {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 270px 270px 270px 213px;
    gap: 24px;
    justify-content: center;
    font-family: "Nunito Sans", sans-serif;
}

.form {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-radius: 8px;
    border-color: var(--white-color);
}

.form-text {
    padding: 14px 16px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: var(--white-color);
}

.bottom-text {
    margin: 0;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    color: var(--white-color);
}

.form-img {
    padding: 16px;
    height: 20px;
}

.search-programm {
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: var(--white-color);
    border-radius: 4px;
    background: var(--white-color);
}

.search-result-text {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color:  var(--green-color);
}

/*wrapper end*/

.main-footer {
    padding: 0 370px;
    height: 521px;
    background:  var(--green-color);
    display: grid;
    grid-template-columns: 480px 280px 280px;
    justify-content: space-between;
}


.bottom-footer {
    padding: 0 370px;
    height: 66px;
    background: rgba(24, 18, 30, 1);
}